<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>API Note par ville</title>
		<link rel="stylesheet" href="style.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" /> -->
	</head>
	<body>
		

		<div id="resultat" name="resulat"></div>
				<div>
					<h2>Education</h2>
					<p> <%=a%></p>
					<p><%=b%></p>
				</div>
		<footer>
				<p><br/>Réalisé avec amour par la team : Clément GENAY aka Clem, Clémence CORE aka Clem, Robin BIAGIONI aka Robinou, Théodore MICHEL-PICQUE aka Titou et Célia TEYSSIER aka Céliou.<br/>
				<!-- <a href="#">Nous contacter !</a></p> -->
		</footer>

	
	</body>
</html>
